.ss-genai-header {
	display: flex;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #3a23ad;
	background-color: #3a23ad0d;
	margin-bottom: 20px;

	.ss-genai-header__left {
		margin: 6px 10px 0 0;
	}

	.ss-genai-header__title {
		margin: 4px 0 20px 0;
	}

	.ss-genai-header__subtitle {
		margin: 0 30px 20px 0;
	}
}